@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #f7f7f8;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #060d17;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f7f7f8;
  border-radius: 10px;
  border: 3px solid #f7f7f8;
}

body {
  background-color: #060d17;
}
